* {
  margin: 0;
  box-sizing: border-box;
  color:white;
  font-family: 'Bitter', serif;
}

html,
body {
  height: 100%;
}

body { 
  display: flex;
  flex-direction: column;
}

main {
  background-color: #EFEFEF;
  flex-grow: 1;
}

p {
  color: rgb(0, 0, 0);
  font-size: 16px;
}

/*Navigation Bar*/

.nav-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40px auto;
  align-items: end;
  justify-items: end;
}

.navigation-bar {
  background-color: #2B2B2B;
  width: 100%;
  height: 150px;
  padding: 0 20px;
}

.btn,
.card-btn {
  background: transparent;
  outline: none;
  border: none;
  /* margin-left: 10px; */
}

.btn::before {
  margin: 0 5px 0 5px;
  display: inline-block;
  content: "";
  background-image: url(assets/iconfinder_outlined_share_4280490.png);
  background-size: 20px 20px;
  /* background-size: contain; */
  height: 20px;
  width: 20px;
  vertical-align: middle;
  filter: invert(54%) sepia(88%) saturate(1024%) hue-rotate(174deg) brightness(102%) contrast(102%)
}

.shares::before {
  filter: invert(100%);
}

.saved::before {
  margin-top: 3px;
  background-image: url(assets/list.svg);
  background-size: cover;
  height:25px;
  width: 25px;
}

.personal::before {
  margin-bottom: 5px;
  background-image: url(assets/bone.svg);
  background-size: cover;
}

.username {
  /* grid-row: 1; */
  grid-column: 2;
  font-size: 13px;
  color: #30B7FE;
}

.username::before {
  background-image: url(assets/profile.svg);
  filter: invert(100%);
}

.username::after {
  background-image: url(assets/down-arrow.svg);
  display: inline-block;
  content: "";
  background-size: 20px 20px;
  margin-left: 5px;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  filter: invert(54%) sepia(88%) saturate(1024%) hue-rotate(174deg) brightness(102%) contrast(102%)
}

.title {
  /* margin:0;  */
  display: inline;
  font-size: 36px;
  grid-column: 2;
  grid-row: 2;
}

.title:before {
  background-image: url('assets/dog.svg');
  background-repeat: no-repeat;
  margin-bottom: 5px;
  padding-right: 10px;
  background-size: 40px 40px;
  display: inline-block;
  vertical-align: middle;
  height:40px;
  width:40px;
  content: ""; 
  filter: invert(100%)
}

.hamburger {
  justify-self: start;
  grid-row: 2;
  margin-bottom: 30px;
}

/* Card */
.main-grid {
  padding:  10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-template-rows: 100px;
  grid-gap: 1rem;
  /* justify-items: stretch;
  align-items: stretch; */
}

.main-header {
  grid-row: 1;
  grid-column: 1/-1;
  justify-self: left;
  align-self: center;
  height: fit-content;
  font-size: 40px;
  font-weight: 300;
  color: black;
}

.card {
  position: relative;
  /* max-width: 270px; */
  /* height: 0;
  padding-bottom: 140%; */
  width: 100%;
  /* aspect-ratio: 1/1; */
  background-color: white;
  box-shadow: 0px 0px 4px 1px #0000004d;
  justify-self: stretch;
}

.img-cropper {
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
}

.profile-pic {
  width: 100%;
  filter: brightness(70%)
}

.views {
  text-align: center;
  margin:5%;
  position:absolute;
  top: 0;
  right:0;
  color: rgb(255, 255, 255);
}

.view-count {
  font-size: 35px;
}

.card-btn {
  margin: 5%;
  position: absolute;
  background-image: url('assets/arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 18%;
  width:25%;
  top: 0;
  left:0;
  filter: invert(100%);
}

.card-btn:hover {
  filter: invert(91%) sepia(1%) saturate(34%) hue-rotate(314deg) brightness(94%) contrast(89%);
}

.card-info {
  /* display: flex;
  flex-direction: column; */
  /* align-content: space-between; */
  /* height: 10000%; */
  padding: 15px;
}

.card-date {
  margin-top: 1%;
  font-size: 11px;
  /* font-weight: 100; */
  color: rgb(143, 143, 143)
}

.card-website {
  height:fit-content;
  min-height: 45px;
  width: 97%;
  margin: 9% auto;
  padding: 10px;
  background: #EFEFEF;
  font-size: 12px;
  border-radius: 3px;
}

.card-skills,
.card-recommendations {
  font-size: 12px;
}
.card-skills {
  margin-bottom: 1%;
}

.card-skills-details {
  margin-bottom: 5%;
}

.card-recommendations-number {
  font-size: 28px;
  color: #30B7FE;
}

@media screen and (max-width: 550px) {
  /*nav*/
  .username {
    display: none;
  } 

  .nav-grid {
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 40px repeat(3, 30px);
  }

  .navigation-bar {
    /* background-color: blue; */
    /* width: 100%; */
    padding: 0;
    height: 40px;
  }

  .hamburger,
  .profile {
    margin: 0;
    grid-row: 1;
    height: 30px;
    width: 30px;
    background-image: url('assets/hamburger.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-self: center;
    align-self: center;
    filter: invert(100%);
  }

  .hamburger button {
    display: none;
  }

  .profile {
    grid-column: 3;
    background-image: url('assets/profile.svg');
  }
  
  .title {
    margin: 0;
    /* display: inline; */
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: baseline;
    height:fit-content;
    font-size: 20px;
  }

  /* .title:before {
    background-image: url('assets/noun_Dog_1065837.svg');
    background-repeat: no-repeat;
    margin-bottom: 5px;
    padding-right: 10px;
    background-size: 30px 30px;
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
    height:30px;
    width:30px;
    content: ""; 
    filter: invert(100%)
  } */

  .main-grid {
    padding: 0;
    display: unset;
  }

  .main-header {
    margin: 10px 0 0 10px;
  }
  
  .card {
    height: 125px;
    margin: 10px 0;
    padding: 0;
    display: flex;
    /* overflow: hidden; */
  }

  .views {
  text-align: center;
  margin:1%;
  position:absolute;
  top: 0;
  right:0;
  color: rgb(0, 0, 0);
  font-size: 11px;
  }

  .view-count {
    font-size: 20px;
    color: rgb(0, 0, 0);
  }

  .card-btn {
    margin: 1%;
    /* position: absolute; */
    /* background-image: url('assets/arrow.svg'); */
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    height: 25%;
    /* width:25%; */
    top: 0;
    left:0;
    /* filter: invert(100%); */
  }
  .card-info {
    /* position: relative; */
    /* display:inline-block; */
    /* height: 100%; */
    /* border: 2px solid red; */
    width: 58%;
    padding: 1%;
  }

  .card-website {
    /* height:fit-content; */
    /* height: 20px; */
    min-height: 25px;
    width: 95%;
    margin: 5% auto;
    padding: 1%;
    background: #EFEFEF;
    font-size: 12px;
    border-radius: 3px;
  }

  .card-recommendations {
    position: absolute;
    right: 1%;
    bottom: 25px;
  }

  .card-recommendations-number {
    position: absolute;
    right:1.5%;
    bottom: 1%;
    font-size: 22px;
    color: #30B7FE;
  }

  .card-skills {
    position: absolute;
    bottom: 10%
    /* margin-bottom: 0%; */
  } 

  .card-skills-details {
    margin-bottom: 0;
    position: absolute;
    bottom: 1%;
    font-size: 14px;
  }

  .img-cropper {
    height: 100%;
    width: 42%;
    padding-bottom: 0;
    display: inline-block;
    overflow: hidden;
    /* border: 2px solid red; */
  }

  .profile-pic {
    height: auto;
    width: 100%;
  }
}